@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e9eef2;
}

li {
  list-style: none;
  cursor: pointer;
}

.scrollBar::-webkit-scrollbar {
    height: 5px;
}

.scrollBar::-webkit-scrollbar-thumb {
    background-color: #78A6C8;
    border-radius: 10px;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.profileCard{
  min-height: 180px;
  min-width: 120px;
}

.eventCard{
  height: 300px;
  width: 250px;
  background-color: white;
  margin: 10px 10px;
}

.articleCard{
  height: 300px;
  max-width: 270px;
}

.coverImage{
  width: 280px;
  height: 180px;
  object-fit: cover;
}

.messageBox{
  height: 75vh;
}

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 1;
  background-color: #edf2f7;
  background-color: rgba(237, 242, 247, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}

.ten-chars {
  width: 10ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}